.create_tasks_wrapper{
    display: flex;
    justify-content: center;
}
.main{
    margin: 0 auto;
    width: 880px;
}
.delete{
    cursor: pointer;
}
.complete{
    cursor: pointer;
}
.completed{
    background-color: rgb(84, 204, 84);
}
textarea {
    resize: none;
}
.new_task_wrapper{
    margin: auto;
    background-color: green;
    position: absolute;
    width: 880px;
    height: 50%;
    justify-content: center;
}
.creating_tasks_section{
    margin: auto;
    display: flex;
    justify-content: center;
}
.submit_task{
    padding: 10px 20px;
    margin-top: 20px ;    
}
.new_task{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;

}
.whole_task{
    display: block;
    background-color: aqua;
    width: 70%;
    padding: 20px;
    position: relative;
}
.task{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.all_tasks{
    width: 880px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.completed_tasks{
    width: 880px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#taskdescription{
    width: 177px;
    padding: 5px;
}
#taskname{
    width: 177px;
    padding: 5px;
}
.new_task_name{
    width: 100%;
    height: 100%;
}
.close_icon{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 30px;
    top: 20px;
    cursor: pointer;
}
.expanded .task_details{
    display: block !important;
    max-height:fit-content !important;
}
.container{
    border: 1px solid black;
    box-shadow: 3px 3px black;
    border-radius: 5px;
    padding: 10px 0px;
}
.task_description{
    word-wrap: break-word;
}
.expanded .expand-icon img{
    transform: rotate(180deg);
}
.expand-icon{
    cursor: pointer;
}
.delete_section{
    display: none;
}
.expanded .delete_section{
    display: block;
}